<footer>
    <div class="finfo mt-2">   
        <div class="fSocial">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-x-twitter"></i>
    </div>
<div class="fbrand">
 &copy; AirBNB FAKE LTD.
    </div>
    <div class="flinks">
        <a href="/privecy">Privecy</a>
        <a href="/terms">. Terms .</a>
        <a href="/details">Company-Details</a>
    </div>
</div>
</footer>

<!-- <div class="d-flex flex-column min-vh-100">
    <main class="flex-grow-1">
         
    </main>
    <footer class="bg-dark text-white py-3">
        <div class="container finfo">
            <div class="fSocial mb-3 text-center">
                <i class="fa-brands fa-square-facebook mx-2"></i>
                <i class="fa-brands fa-square-instagram mx-2"></i>
                <i class="fa-brands fa-x-twitter mx-2"></i>
            </div>
            <div class="fbrand text-center mb-2">
                &copy; AirBNB FAKE LTD.
            </div>
            <div class="flinks text-center">
                <a href="/privecy" class="text-white mx-2">Privacy</a>
                <a href="/terms" class="text-white mx-2">Terms</a>
                <a href="/details" class="text-white mx-2">Company-Details</a>
            </div>
        </div>
    </footer>
</div> -->
